.portfolio {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    text-align: center;

    background: white;
    box-shadow: 2px 2px 4px #000000;
    margin: 20px 20px 80px 20px;
}