.about {
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    background: white;
    box-shadow: 2px 2px 4px #000000;
    margin: 20px 20px 80px 20px;
}

#profilePic {
    max-height: 250px;
    max-width: 250px;
    min-height: 150px;
    min-width: 150px;
    float: left;
    width: 30%;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 25px;
}

h2{
    text-shadow: 2px 2px 5px white;
}