header {
    background-image:url("https://lh3.googleusercontent.com/proxy/IHD2GdMI5LIqYwt9c-k6cNGqFVeVeRGqCjxVhSq7wixHdGuqGZjFwrlFaAizPryRq2Mp8B06fctRY4364AqWnz1D7KpRBwlW0Mk1TJzeGdRnRzDCcqiNd_xa_AIclKCKYg");
    background-position: center;
    background-size: cover;
    display:block;
    margin: 0 auto;
}
h1{
    margin-bottom: 0;
    text-shadow: 2px 2px 5px white;
}