.footer {
    background-color: black; 
    bottom: 0px;
    width: 100%;
    position: fixed;
    text-align: center;
    
    line-height: 60px;
    background-color: #f5f5f5;

    text-align: center;

    background: white;
    box-shadow: 2px 2px 4px #000000;
}